<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
              <strong>Desenvolvido por: </strong> Marília Pereira
            </div>
            <div>
              <a
                href="https://www.linkedin.com/in/mar%C3%ADlia-pereira-937152146/"
                target="_blank"
                ><img class="img-responsive" src="assets/images/linkedin.png" />
              </a>
              <a href="https://github.com/marilia-lila4" target="_blank"
                ><img class="img-responsive" src="assets/images/github.png" />
              </a>
              <a href="https://curriculomariliapereira.web.app/" target="_blank"
                ><img class="img-responsive" src="assets/images/website.png" />
              </a>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>
